span, a {
    color: rgb(118,118,118);
    font-size: small;
    margin: 10px;
    font-family: 'Segoe UI', sans-serif;
    text-decoration: none;
}

/* When screen gets smaller in terms of both width and height, the copyright text goes from 'small' to '12px' */
@media screen and (max-width: 450px),
            screen and (max-height: 450px) {
    span, a {
        font-size:12px;
    }
}



