.fp-div {
    width: 275px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.fp-div__span {
    color: rgb(118,118,118);
    text-align: justify;
    font-family: "Be Vietnam Pro";
    font-size: small;
    margin: 20px 0px 20px 0px;
    letter-spacing: 1.4px;;
}

.fp-div__label {
    font-family: 'Be Vietnam Pro','sans-serif';
    font-size: small;
    letter-spacing: 1.4px;
    color: rgb(118,118,118);
    margin: 20px 0px 5px 0px;
}

.fp-div__input {
    height: 30px;
    width: 275px;
    border-style: none none solid none;
    border-color: rgb(118,118,118);
    border-width: 0px 0px .5px 0px;
    border-radius: 0px;
    background-color: black;
    margin-bottom: 20px;
    color:rgb(118,118,118);
    text-align: center;
    font-family: 'Be Vietnam Pro','sans-serif';
    font-size: medium;
    letter-spacing: 1.4px;
    line-height: 2em;
    /* text-transform: uppercase; */
    outline: none;
    padding: 0px 0px 0px 0px;
    box-sizing: content-box;
}

.fp-div__inputt:focus {
    border-color: whitesmoke;
    color:whitesmoke;
}

.fp-div__input:hover {
    border-color: whitesmoke;
    color:whitesmoke;
}

.fp-div__reset-button {
    background-color: transparent;
    color: rgb(118,118,118);
    font-family: "Be Vietnam Pro";
    font-size: medium;
    letter-spacing: 1.4px;
    margin-top: 20px;
}

.fp-div__reset-button:hover {
    color: whitesmoke;
}

.fp-div__reset-button:focus {
    color:whitesmoke;
    outline: none;
}