.home-div{
    display: flex;
    flex-direction: column;
}

.home-h1 {
    color: whitesmoke;
    font-family: "Be Vietnam Pro";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
}

.home-h1[name="rotate"]:before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 DIGITAL";
    -webkit-animation-name: animate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;
    -moz-animation-name: animate;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 8s;
    -o-animation-name: animate;
    -o-animation-iteration-count: infinite;
    -o-animation-duration: 8s;
    -ms-animation-name: animate;
    -ms-animation-iteration-count: infinite;
    -ms-animation-duration: 8s;
    -webkit-animation-name: animate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;
    animation-name: animate;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);


}

@keyframes animate{
    0%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 DIGITAL"
    }
    20%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 EXCLUSIVE"
    }
    40%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 CUSTOM"
    }
    60% {
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 TAILORED"
    }
    80%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 VIP"
    }
}

@-webkit-keyframes animate {
    0%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 DIGITAL"
    }
    20%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 EXCLUSIVE"
    }
    40%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 CUSTOM"
    }
    60% {
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 TAILORED"
    }
    80%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 VIP"
    }
}

@-moz-keyframes animate {
    0%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 DIGITAL"
    }
    20%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 EXCLUSIVE"
    }
    40%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 CUSTOM"
    }
    60% {
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 TAILORED"
    }
    80%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 VIP"
    }
}

@-o-keyframes animate {
    0%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 DIGITAL"
    }
    20%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 EXCLUSIVE"
    }
    40%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 CUSTOM"
    }
    60% {
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 TAILORED"
    }
    80%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 VIP"
    }
}

@-ms-keyframes animate {
    0%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 DIGITAL"
    }
    20%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 EXCLUSIVE"
    }
    40%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 CUSTOM"
    }
    60% {
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 TAILORED"
    }
    80%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 VIP"
    }
}