.home-div{
    display: flex;
    flex-direction: column;
}

.home-h1 {
    color: whitesmoke;
    font-family: "Be Vietnam Pro";
    font-size: 32px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 200;
}

.home-h1-animate {
    color: whitesmoke;
    font-family: "Be Vietnam Pro";
    font-size: 32px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 200;
}

.home-h1-animate::before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 DIGITAL";
    -webkit-animation-name: animate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;
    -moz-animation-name: animate;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 8s;
    -o-animation-name: animate;
    -o-animation-iteration-count: infinite;
    -o-animation-duration: 8s;
    -ms-animation-name: animate;
    -ms-animation-iteration-count: infinite;
    -ms-animation-duration: 8s;
    animation-name: animate;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);


}

@-webkit-keyframes animate {
    0%, 100%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 DIGITAL"
    }
    20%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 EXCLUSIVE"
    }
    40%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 CUSTOM"
    }
    60% {
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 TAILORED"
    }
    80%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 VIP"
    }
}

@-moz-keyframes animate {
    0%, 100%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 DIGITAL"
    }
    20%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 EXCLUSIVE"
    }
    40%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 CUSTOM"
    }
    60% {
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 TAILORED"
    }
    80%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 VIP"
    }
}

@-o-keyframes animate {
    0%, 100%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 DIGITAL"
    }
    20%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 EXCLUSIVE"
    }
    40%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 CUSTOM"
    }
    60% {
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 TAILORED"
    }
    80%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 VIP"
    }
}

@-ms-keyframes animate {
    0%, 100%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 DIGITAL"
    }
    20%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 EXCLUSIVE"
    }
    40%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 CUSTOM"
    }
    60% {
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 TAILORED"
    }
    80%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 VIP"
    }
}


@keyframes animate{
    0%, 100%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 DIGITAL"
    }
    20%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 EXCLUSIVE"
    }
    40%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 CUSTOM"
    }
    60% {
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 TAILORED"
    }
    80%{
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 VIP"
    }
}