.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    width: 100vw;
}

.nav__ul {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0px;
}

.nav__ul__li {
    font-family: "Be Vietnam Pro";
    font-size: medium;
    color: rgb(118,118,118);
    letter-spacing: 1.4px;
    margin: 10px 20px 10px 20px;
}

.nav__ul__li:hover {
    color:whitesmoke;
}

.nav-button {
    display: none;
    background-color: transparent;
    position: fixed;
    bottom: 2em;
    left: 2em;
    color: rgb(118,118,118);
    font-size:small;
    letter-spacing: 1.4px;
    font-family: 'Be Vietnam Pro';
    margin:0px;
    padding: 0px;
    border: 0px;
}

.nav-button:hover {
    color:whitesmoke;
}

.nav-button:focus {
    outline: none;
    color: whitesmoke;
}

@media (max-width: 40em) {
    .nav[data-visible="false"] {
        display: none;
    }
    .nav{
        display: flex;
        justify-content: center;
        align-items:center;
        background: black;
        position: fixed;
        height: 100vh;
        width: 70vw;
        border-style: none solid none solid;
        border-width: 0px .5px 0px 0px;
        border-color: whitesmoke;
    }
    .nav__ul {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    .nav-button {
        display: block;
    }
}

@media (orientation: landscape) and (max-width: 70em) {
    .nav[data-visible="false"] {
        display: none;
    }
    .nav{
        display: flex;
        justify-content: center;
        align-items:center;
        background: black;
        position: fixed;
        height: 100vh;
        width: 30vw;
        border-style: none solid none none;
        border-width: 0px .5px 0px 0px;
        border-color: whitesmoke;
    }
    .nav__ul {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    .nav-button {
        display: block;
    }
}