* {
    margin: 0;
    padding: 0;
    border: 0;
}

.navigationMenu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100vw;
}

.navigationMenu ul {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0px;
}

.navigationMenu ul li {
    margin: 10px;
}

.navigationMenu ul li span {
    font-family: "Be Vietnam Pro";
    font-size: medium;
    color: rgb(118,118,118);
    letter-spacing: 1.4px;
    margin: 10px;
}

.navBurger {
    display: none;
    background-color: transparent;
    position: fixed;
    bottom: 2em;
    left: 2em;
}

.navigationMenu ul li span:hover {
    color:whitesmoke;
}

@media (max-width: 40em) {
    .navigationMenu[data-visible="false"] {
        /* visibility: hidden; */
        transform: translate(0) ;
        -webkit-transform: translate(0);
    }
    .navigationMenu {
        display: flex;
        justify-content: center;
        align-items:center;
        background: black;
        position: fixed;
        width: 70vw;
        inset: 0 0 0 -70vw;
        transform: translate(calc(70vw - .5px));
        transition: transform 75ms ease-out;
        -webkit-transform: translate(calc(70vw - .5px));
        -webkit-transition: -webkit-transform 75ms ease-out;
        border-style: none solid none solid;
        border-width: 0px .5px 0px 0px;
        border-color: whitesmoke;
    }
    .navigationMenu ul {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    .navBurger {
        display: block;
    }
}

@media (orientation: landscape) and (max-width: 70em) {
    .navigationMenu[data-visible="false"] {
        transform: translate(0);
        -webkit-transform: translate(0);
    }
    .navigationMenu {
        display: flex;
        justify-content: center;
        align-items:center;
        background: black;

        position: fixed;
        width: 30vw;
        inset: 0 0 0 -30vw;
        transform: translate(calc(30vw - .5px));
        transition: transform 75ms ease-out;
        -webkit-transform: translate(calc(30vw - .5px));
        -webkit-transition: -webkit-transform 75ms ease-out;
        border-style: none solid none none;
        border-width: 0px .5px 0px 0px;
        border-color:whitesmoke;
    }
    .navigationMenu ul {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    .navBurger {
        display: block;
    }
}