.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 20px;

}

.register-form__input-div{
    height: 60px;
    width: 275px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.register-form__input-div__label {
    font-family: 'Be Vietnam Pro','sans-serif';
    font-size: small;
    letter-spacing: 1.4px;
    color: rgb(118,118,118);
    margin-bottom: 5px;
}

.register-form__input-div__input {
    height: 30px;
    width: 275px;
    border-style: none none solid none;
    border-color: rgb(118,118,118);
    border-width: 0px 0px .5px 0px;
    border-radius: 0px;
    background-color: black;
    margin-bottom: 20px;
    color:rgb(118,118,118);
    text-align: center;
    font-family: 'Be Vietnam Pro','sans-serif';
    font-size: medium;
    letter-spacing: 1.4px;
    line-height: 2em;
    text-transform: uppercase;
    outline: none;
    padding: 0px 0px 0px 0px;
    box-sizing: content-box;
}

.register-form__input-div__input:focus {
    border-color: whitesmoke;
    color:whitesmoke;
}

.register-form__input-div__input:hover {
    border-color: whitesmoke;
    color:whitesmoke;
}

.register-form__register-button {
    background-color: transparent;
    color: rgb(118,118,118);
    font-family: "Be Vietnam Pro";
    font-size: medium;
    letter-spacing: 1.4px;
    margin-top: 10px;
}

.register-form__register-button:hover {
    color: whitesmoke;
}

.register-form__register-button:focus {
    color:whitesmoke;
    outline: none;
}


.register-form__span {
    height: 30px;
    width: 275px;
    margin:20px 20px 20px 20px;
    color: rgb(118,118,118);
    font-size: small;
    font-family: "Be Vietnam Pro";
    letter-spacing: 1.4px;
    text-align: justify;
}

.register-form__span__span:hover {
    color: whitesmoke;
}