.user-event-page-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.user-event-page-div__button {
    width: 275px;
    height: 100px;
    border-color:rgb(118,118,118);
    border-width: .5px;
    border-style: solid;
    border-radius: 2px;;
    background-color: transparent;
    outline: none;
    color: rgb(118,118,118);

    letter-spacing: 1.4px;
    font-family: "Be Vietnam Pro";
    font-weight: 200;
    font-size:medium;
}

.user-event-page-div__button:hover, .user-event-page-div__button:focus {
    border-color:whitesmoke;
    color:whitesmoke;
}

.user-event-page-div__button[name="create-event"] {
    margin: 20px;
}
